@model HomePageViewModel

@{
    ViewBag.Title = "Home";
}

<div class="well jumbotron">
    @if (User.Identity.IsAuthenticated && Model.NumberOfHolesPlayedInLastRound > 0)
    {
        <h1>Welcome, @Model.FirstName @Model.LastName</h1>
        <h3>Your played your last round on @Model.DateOfLastRound.Date.ToString("MMMM d, yyyy")<span>,</span></h3>

        switch (Model.DaysSinceLastRound)
        {
            case 0:
                <h3>which is today.</h3>
                break;
            case 1:
                <h3>which was yesterday.</h3>
                break;
            default:
                <h3>which was @Model.DaysSinceLastRound days ago.</h3>
                break;
        }
        <h3>On that day, you played @Model.NumberOfHolesPlayedInLastRound holes at @Model.CourseLastPlayed,</h3>
        <h3>and you shot a @Model.ScoreOfLastRound<span>.</span></h3>

        @section leftSidebar {
            <h3>Overall Statistics</h3>
            <div class="stat-chart-container-container">
                <div id="nine-hole-score-barchart-container" class="stat-chart-container"></div>
                <div id="eighteen-hole-score-barchart-container" class="stat-chart-container"></div>
            </div>
        }

        @section rightSidebar {
            <h3>Course Statistics</h3>
        }
        
        <script type="text/javascript" src="~/js/Statistics/HomePageStats.js"></script>
    }
    else if (User.Identity.IsAuthenticated)
    {
        <h2>You haven't played any rounds yet, @Model.FirstName @Model.LastName!</h2>
        <h2>Geez, get out there!</h2>
    }
    else
    {
    <h1>Welcome to it!</h1>
    <p>This is the page of golf scores and keeping track of them!</p>
    <p>And getting information about that!</p>
    <h4>Register to get started!</h4>
    }
</div>

@section footer{
    <div>This is the footer.</div>
}