@using Microsoft.AspNetCore.Identity

@ViewBag.Title = "Golf Bag"

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <meta charset="utf-8" />

    <title>@ViewBag.Title</title>

    <link rel="icon" href="~/images/favicon.png" type="image/png" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/animatecss/animate.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">       @*font-family: 'Cormorant Garamond', serif;*@
    <link href="https://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet">                 @*font-family: 'Suez One', serif;*@
    <link href="https://fonts.googleapis.com/css?family=Sriracha" rel="stylesheet">                 @*font-family: 'Sriracha', cursive;*@
    
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="~/lib/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/lib/d3/d3.min.js"></script>
    <script type="text/javascript" src="~/lib/d3/d3-selection-multi.min.js"></script>

    <script type="text/javascript" src="~/js/validator.js"></script>
    <script type="text/javascript" src="~/js/globalFunctions.js"></script>
    
</head>
<body>
    <div id="page-size"></div>   @*This is an invisible div whose height changes according to screen size, which is used to coordinate js with css*@
    <div id="screen-size-detector" class="hidden"></div>
    <nav class="navbar navbar-default navbar-fixed-top cbp-af-header">
        <div class="container-fluid">
            <div id="loginlogout" class="navbar">
                @await Component.InvokeAsync("LoginLogout")
            </div>
        </div>
    </nav>
    <div id="main-content" class="row">
        
        <div id="main-body" class="col-lg-8 col-lg-push-2">
            @RenderBody()
        </div>
                
        <div id="left-sidebar" class="col-lg-2 col-lg-pull-8 sidebar">
            @RenderSection("leftSidebar", required: false)
        </div>

        <div id="right-sidebar" class="col-lg-2 sidebar">
            @RenderSection("rightSidebar", required: false)
        </div>
    </div>

    <footer>
        @await Component.InvokeAsync("Greeting")
        <h5><a href="mailto:golfbagonline@gmail.com">golfbagonline@gmail.com</a></h5>
        <h5>&copy; @DateTime.Now.Year - Bill Sanders</h5>
    </footer>

    @RenderSection("Scripts", false)

    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/AnimatedHeader/classie.js"></script>
    <script type="text/javascript" src="~/js/AnimatedHeader/cbpAnimatedHeader.js"></script>
    <script type="text/javascript" src="~/js/Statistics/ChartsAndGraphs.js"></script>

    <link href="~/css/site.css" rel="stylesheet" />

</body>
</html>
