@model CourseViewModel

<div id="eighteen-hole-table" class="table-responsive">
    <table class="table table-bordered table-striped scorecard">
        <tbody>
            <tr>
                @for (int i = 9; i <= 18; i++)
                {
                    if (i == 9)
                    {
                        <th></th>
                    }
                    else
                    {
                        <th>@i</th>
                    }
                }
            </tr>

            <tr>
                <td>Enter Par</td>
                @for (int i = 9; i < 18; i++)
                {
                    int holeNumber = i + 1;
                    <td class="number-input">
                        <input class="number-input par" data-hole-number="@holeNumber" asp-for="Pars[i]" />
                        @Html.ValidationMessageFor(m => m.Pars[i], null, new { style = "display: none" })
                    </td>
                }
            </tr>

            <tr>
                <td>Enter Handicap</td>
                @for (int i = 9; i < 18; i++)
                {
                    int holeNumber = i + 1;
                    <td>
                        <input class="number-input handicap" data-hole-number="@holeNumber" asp-for="Handicaps[i]" />
                        @Html.ValidationMessageFor(m => m.Handicaps[i], null, new { style = "display: none" })
                    </td>
                }
            </tr>

            @for (int i = 0; i < 6; i++)
            {
                if (i >= 3)
                {
                    <tr class="back-nine-tee-box-input hidden">
                        <td class="teebox-name-label@(i)"></td>
                        @for (int x = 9; x < 18; x++)
                        {
                            int holeNumber = x + 1;
                            <td class="number-input">
                                <input class="number-input teebox" data-hole-number="@holeNumber" asp-for="TeeBoxes[i].Tees[x].Yardage" />
                                @Html.ValidationMessageFor(m => m.TeeBoxes[i].Tees[x].Yardage, null, new { style = "display: none" })
                            </td>
                        }
                    </tr>
                }
                else
                {
                    <tr class="back-nine-tee-box-input">
                        <td class="teebox-name-label@(i)"></td>
                        @for (int x = 9; x < 18; x++)
                        {
                            int holeNumber = x + 1;
                            <td class="number-input">
                                <input class="number-input teebox" data-hole-number="@holeNumber" asp-for="TeeBoxes[i].Tees[x].Yardage" />
                                @Html.ValidationMessageFor(m => m.TeeBoxes[i].Tees[x].Yardage, null, new { style = "display: none" })
                            </td>
                        }
                    </tr>
                }
            }

        </tbody>
    </table>
</div>