@model CourseViewModel

<h1>@Model.CourseName</h1>

<form method="post" asp-antiforgery="true"
      asp-action="SaveCourseChanges" asp-controller="RoundOfGolf">
    @Html.HiddenFor(m => m.CourseName)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.NumberOfTeeBoxes)
    @Html.HiddenFor(m => m.NumberOfHoles)

    <div class="table-responsive">
        <table id="front-nine-table" class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <td>Hole</td>
                    @for (int i = 0; i < 9; i++)
                    {
                        string holeNumber = (i + 1).ToString();
                        <td>@holeNumber</td>
                    }
                </tr>
                <tr>
                    <td>Par</td>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td class="number-input">@Html.EditorFor(m => m.Pars[i])</td>
                    }
                </tr>

                <tr>
                    <td>Handicap</td>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td class="number-input">@Html.EditorFor(m => m.Handicaps[i])</td>
                    }
                </tr>

                @for (int i = 0; i < Model.TeeBoxes.Count; i++)
                {
                    @Html.HiddenFor(m => m.TeeBoxes[i].Id)

                    <tr class="teebox-row" data-teebox-id="@Model.TeeBoxes[i].Id" data-teebox-name="@Model.TeeBoxes[i].Name">
                        <td>
                            @Html.EditorFor(m => m.TeeBoxes[i].Name)
                            <i class="fa fa-trash delete-teebox" data-toggle="tooltip"
                               title="Delete @Model.TeeBoxes[i].Name Teebox"></i>
                            <span class="undo-delete hidden">Undo Delete <i class="fa fa-undo"></i></span>
                        </td>

                        @for (int x = 0; x < 9; x++)
                        {
                            <td class="number-input">@Html.EditorFor(m => m.TeeBoxes[i].Tees[x].Yardage)</td>
                        }
                    </tr>
                }

                @for (int i = 0; i < Model.NewTeeBoxes.Count; i++)
                {
                    <tr class="new-teebox-row hidden" data-new-teebox-num="@i">
                        <td>
                            @Html.EditorFor(m => m.NewTeeBoxes[i].Name)
                        </td>

                        @for (int x = 0; x < 9; x++)
                        {
                            <td class="number-input">
                                @Html.EditorFor(m => m.NewTeeBoxes[i].Tees[x].Yardage)
                            </td>
                        }
                    </tr>
                }
            </tbody>

        </table>
    </div>
    @if (Model.NumberOfHoles == 18)
    {
        <div class="table-responsive">
            <table id="back-nine-table" class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td>Hole</td>
                        @for (int i = 9; i < 18; i++)
                        {
                            string holeNumber = (i + 1).ToString();
                            <td>@holeNumber</td>
                        }
                    </tr>
                    <tr>
                        <td>Par</td>
                        @for (int i = 9; i < 18; i++)
                        {
                            <td class="number-input">@Html.EditorFor(m => m.Pars[i])</td>
                        }
                    </tr>

                    <tr>
                        <td>Handicap</td>
                        @for (int i = 9; i < 18; i++)
                        {
                            <td class="number-input">@Html.EditorFor(m => m.Handicaps[i])</td>
                        }
                    </tr>

                    @for (int i = 0; i < Model.TeeBoxes.Count; i++)
                    {
                        <tr class="teebox-row" data-teebox-id="@Model.TeeBoxes[i].Id">
                            <td><p>@Model.TeeBoxes[i].Name</p></td>
                            @for (int x = 9; x < 18; x++)
                            {
                                <td class="number-input">@Html.EditorFor(m => m.TeeBoxes[i].Tees[x].Yardage)</td>
                            }
                        </tr>
                    }
                    @for (int i = 0; i < Model.NewTeeBoxes.Count; i++)
                    {
                        <tr class="new-teebox-row hidden" data-new-teebox-num="@i">
                            <td>
                                <label data-new-teebox-num="@i"></label>
                            </td>

                            @for (int x = 9; x < 18; x++)
                            {
                                <td class="number-input">
                                    @Html.EditorFor(m => m.NewTeeBoxes[i].Tees[x].Yardage)
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    @{
        for (int i = 0; i < Model.TeeBoxes.Count; i++)
        {
            @Html.HiddenFor(m => m.ListOfDeletedTeeBoxes[i], new { @class = "deleted-teebox-input" });
        }
    }

    <div>
        <input class="btn btn-primary" type="submit" value="Save Course Changes" />
    </div>
</form>
<a class="btn btn-primary" asp-controller="RoundOfGolf" asp-action="DeleteCourse" asp-route-id="@Model.Id">Delete Course</a>

@if (Model.NewTeeBoxes.Count > 0)
{
    <a class="btn btn-primary" id="add-teebox-btn">Add Teebox</a>
    <a class="btn btn-primary disabled" id="remove-new-teebox">Remove New Teebox</a> 
}

<div class="modal fade" id="delete-teebox-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p id="modal-header-p" class="warning"></p>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <h1 id="modal-body-h1"></h1>
                <div id="dates-teebox-played"></div>
                <h2 id="modal-body-h2"></h2>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>