@model RoundOfGolfViewModel

<h1>@Model.CourseName</h1>

@if (Model.NumberOfHoles == 9)
{
    <form method="post" asp-antiforgery="true"
          asp-action="EnterScore" asp-controller="RoundOfGolf"
          asp-route-courseName="@Model.CourseName">
        <input id="date-of-round-input" asp-for="DateOfRound" />
        <label for="date-of-round-input">Date of Round</label>

        <select asp-for="IdOfTeeBoxPlayed" name="id-of-tee-box-played">
            @foreach (var teeBox in Model.TeeBoxes)
            {
                <option value="@teeBox.Id">@teeBox.Name</option>
            }
        </select>
        <label for="id-of-tee-box-played">Select Tee Box Played</label>

        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td>Hole</td>
                        @for (int i = 0; i < Model.NumberOfHoles; i++)
                        {
                            string holeNumber = (i + 1).ToString();
                            <td>@holeNumber</td>
                        }
                    </tr>
                    <tr>
                        <td>Par</td>
                        @foreach (var par in Model.Pars)
                        {
                            <td>@par</td>
                        }
                    </tr>                  
                    @foreach (var teeBox in Model.TeeBoxes)
                    {
                        <tr>
                            <td>@teeBox.Name</td>
                            @foreach (var tee in teeBox.Tees)
                            {
                                <td>@tee.Yardage</td>
                            }
                        </tr>
                    }                         
                    <tr>
                        <td>Enter Scores</td>
                        @for (int i = 0; i < 9; i++)
                        {
                            <td>
                                <input class="number-input" asp-for="FrontNineScores[i]" />
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
        <input id="comment-input" asp-for="Comment" />
        <label for="comment-input">Enter Comment</label>
        <div>
            <input type="submit" value="Save Round" />
        </div>
    </form>
}
else
{
    <form method="post" asp-antiforgery="true"
          asp-action="EnterScore" asp-controller="RoundOfGolf"
          asp-route-courseName="@Model.CourseName">
        <input id="date-of-round-input-2" asp-for="DateOfRound" />
        <label for="date-of-round-input-2">Date of Round</label>
        <div id="front-nine">
            @Html.Partial("_FrontNineEnterScore", Model)
        </div>
        <div id="back-nine">
            @Html.Partial("_BackNineEnterScore", Model)
        </div>
        <input id="comment-input-2" asp-for="Comment" />
        <label for="comment-input-2">Enter Comment</label>
        <div>
            <input type="submit" value="Save Round" />
        </div>
    </form>

    <div id="checkbox-container btn-group btn-group-sm">
        <label class="btn btn-success">
            <input type="checkbox" id="front-nine-checkbox" value="true"
                   data-nine="front" data-action="@Url.Action("DisplayFrontNineEnterScore", Model)"
                   data-target="#front-nine" checked />
        </label>
        <label>Played the front nine.</label><br>
        <label class="btn btn-success">
            <input type="checkbox" id="back-nine-checkbox" value="true"
                   data-nine="back" data-action="@Url.Action("DisplayBackNineEnterScore", Model)"
                   data-target="#back-nine" checked />
        </label>
        <label for="back-nine-checkbox">Played the back nine.</label>
    </div>
}

<script type="text/javascript" src="~/js/_DisplayCourse.js"></script>