@model RoundOfGolfViewModel

@if (Model.TeeBoxes.Count > 1)
{
    <ul class="nav nav-pills navbar-default">
        <li class="navpill-header">Show and Hide Tee Boxes:</li>
        @foreach (var teeBox in Model.TeeBoxes)
        {
            if (teeBox.Id != Model.IdOfTeeBoxPlayed)
            {
                <li>
                    <a class="teebox-toggler" href=".@teeBox.Id" data-toggle="collapse">@teeBox.Name</a>
                    <i class="fa fa-lightbulb-o teebox-toggler-icon hidden" data-teebox-id="@teeBox.Id"></i>
                </li>

            }
        }

    </ul>
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">@Model.CourseName</h1>
        <h2 class="panel-title">@Model.DateOfRound.Date.ToString("D")</h2>
        <ul class="pager">
            @if (Model.IdOfPriorRound >= 0)
            {
                <li class="previous">
                    <a class="btn" data-ajax="true" data-target="#display-round"
                       data-action="@Url.Action("DisplayRound", "RoundOfGolf", new { id = Model.IdOfPriorRound })"
                       data-toggle="tooltip" title="Prior Round: @Model.DateOfPriorRound.ToString("MMMM d, yyyy")">
                        <i class="fa fa-arrow-circle-o-left"></i> Prior Round
                    </a>
                </li>
            }
            else
            {
                <li class="previous disabled">
                    <a class="btn" data-ajax="false" data-target="#" data-toggle="tooltip" title="No Prior Round">
                        <i class="fa fa-arrow-circle-o-left"></i> Prior Round
                    </a>
                </li>
            }
            @if (Model.IdOfSubsequentRound >= 0)
            {
                <li class="next">
                    <a class="btn" data-ajax="true" data-target="#display-round"
                       data-action="@Url.Action("DisplayRound", "RoundOfGolf", new { id = Model.IdOfSubsequentRound })"
                       data-toggle="tooltip" title="Next Round: @Model.DateOfSubsequentRound.ToString("MMMM d, yyyy")">
                        Next Round <i class="fa fa-arrow-circle-o-right"></i> 
                    </a>
                </li>
            }
            else
            {
                <li class="next disabled">
                    <a class="btn" data-ajax="false" data-target="#" data-toggle="tooltip" title="No Subsequent Round">
                        Next Round <i class="fa fa-arrow-circle-o-right"></i> 
                    </a>
                </li>
            }
        </ul>
    </div>

    <div class="panel-body">
        @if (Model.FrontNineScores.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-bordered table-striped-custom scorecard">
                    <tbody>
                        <tr class="table-row-striped">
                            <td>Hole</td>
                            @for (int i = 1; i <= 9; i++)
                            {
                                string holeNumber = i.ToString();
                                <td>@holeNumber</td>
                            }
                            <td>Totals</td>
                        </tr>
                        <tr>
                            <td>Par</td>
                            @{
                                int totalPar = 0;
                                for (int i = 0; i < 9; i++)
                                {
                                    totalPar += Model.Pars[i];
                                    <td>@Model.Pars[i]</td>
                                }

                            <td>@totalPar</td>
                            }
                        </tr>

                        @foreach (var teeBox in Model.TeeBoxes)
                        {
                            int totalYardage = 0;
                            if (teeBox.Id != Model.IdOfTeeBoxPlayed)
                            {
                                <tr class="@teeBox.Id collapse teebox-not-played" data-teebox-id="@teeBox.Id">
                                    <td>@teeBox.Name</td>
                                    @for (int i = 0; i < 9; i++)
                                    {
                                        <td>@teeBox.Tees[i].Yardage</td>
                                        totalYardage += teeBox.Tees[i].Yardage;
                                    }
                                    <td>@totalYardage</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td class="teebox-played">@teeBox.Name</td>
                                    @for (int i = 0; i < 9; i++)
                                    {
                                        <td class="teebox-played">@teeBox.Tees[i].Yardage</td>
                                        totalYardage += teeBox.Tees[i].Yardage;
                                    }
                                    <td class="teebox-played">@totalYardage</td>
                                </tr>
                            }
                        }
                        <tr>
                            <td>Scores</td>
                            @{
                                int totalScore = 0;
                                for (int i = 0; i < 9; i++)
                                {
                                    <td class="hole-score">@Model.FrontNineScores[i]</td>
                                    totalScore += Model.FrontNineScores[i];
                                }
                                <td class="hole-score">@totalScore</td>
                            }
                        </tr>

                    </tbody>

                </table>
            </div>
        }

        @if (Model.BackNineScores.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-bordered table-striped-custom scorecard">
                    <tbody>
                        <tr class="table-row-striped">
                            <td>Hole</td>
                            @for (int i = 10; i <= 18; i++)
                            {
                                string holeNumber = i.ToString();
                                <td>@holeNumber</td>
                            }
                            <td>Totals</td>
                        </tr>
                        <tr>
                            <td>Par</td>
                            @{ 
                                int totalPar = 0;
                                if (Model.FrontNineScores.Count() == 0)
                                {
                                    for (int i = 0; i < 9; i++)
                                    {
                                        <td>@Model.Pars[i]</td>
                                        totalPar += Model.Pars[i];
                                    }
                                }
                                else
                                {
                                    for (int i = 9; i < 18; i++)
                                    {
                                        <td>@Model.Pars[i]</td>
                                        totalPar += Model.Pars[i];
                                    }
                                }
                                <td>@totalPar</td>
                            }
                        </tr>

                        @foreach (var teeBox in Model.TeeBoxes)
                        {
                            int totalYardage = 0;
                            if (teeBox.Id != Model.IdOfTeeBoxPlayed)
                            {
                                <tr class="@teeBox.Id collapse teebox-not-played">
                                    <td>@teeBox.Name</td>
                                    @for (int i = 9; i < 18; i++)
                                    {
                                        <td>@teeBox.Tees[i].Yardage</td>
                                        totalYardage += teeBox.Tees[i].Yardage;
                                    }
                                    <td>@totalYardage</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td class="teebox-played">@teeBox.Name</td>
                                    @for (int i = 9; i < 18; i++)
                                    {
                                        <td class="teebox-played">@teeBox.Tees[i].Yardage</td>
                                        totalYardage += teeBox.Tees[i].Yardage;
                                    }
                                    <td class="teebox-played">@totalYardage</td>
                                </tr>
                            }
                        }
                        <tr>
                            <td>Scores</td>
                            @{ 
                                int totalScore = 0;
                                for (int i = 0; i < 9; i++)
                                {
                                    <td class="hole-score">@Model.BackNineScores[i]</td>
                                    totalScore += Model.BackNineScores[i];
                                }
                                <td class="hole-score">@totalScore</td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    <a asp-action="EditRound" asp-controller="RoundOfGolf" 
       asp-route-id="@Model.Id" class="btn panel-footer">Edit Round</a>
    </div>
    <div class="well">@Model.Comment</div>
</div>