@model RoundOfGolfViewModel

<ul class="nav nav-pills navbar-default">
    <li><a href="#handicaps" data-toggle="collapse">Handicaps</a></li>
    <li><a href="#red-tees" data-toggle="collapse">RedTees</a></li>
</ul>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">@Model.CourseName</h1>
        <h2 class="panel-title">@Model.DateOfRound.Date.ToString("MMMM d, yyyy")</h2>
        <ul class="pager">
            @if (Model.IdOfPriorRound >= 0)
            {
                <li class="previous">
                    <a data-ajax="true" data-target="#display-round"
                       data-action="@Url.Action("DisplayRound", "RoundOfGolf", new { id = Model.IdOfPriorRound })"
                       data-toggle="tooltip" title="Prior Round: @Model.DateOfPriorRound.ToString("MMMM d, yyyy")">
                        <i class="fa fa-arrow-circle-o-left"></i> Prior Round
                    </a>
                </li>
            }
            else
            {
                <li class="previous disabled">
                    <a data-ajax="false" data-target="#" data-toggle="tooltip" title="No Prior Round">
                        <i class="fa fa-arrow-circle-o-left"></i> Prior Round
                    </a>
                </li>
            }
            @if (Model.IdOfSubsequentRound >= 0)
            {
                <li class="next">
                    <a data-ajax="true" data-target="#display-round"
                       data-action="@Url.Action("DisplayRound", "RoundOfGolf", new { id = Model.IdOfSubsequentRound })"
                       data-toggle="tooltip" title="Next Round: @Model.DateOfSubsequentRound.ToString("MMMM d, yyyy")">
                        Next Round <i class="fa fa-arrow-circle-o-right"></i> 
                    </a>
                </li>
            }
            else
            {
                <li class="next disabled">
                    <a data-ajax="false" data-target="#" data-toggle="tooltip" title="No Subsequent Round">
                        Next Round <i class="fa fa-arrow-circle-o-right"></i> 
                    </a>
                </li>
            }
        </ul>
    </div>

    <div class="panel-body">
        @if (Model.FrontNineScores.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td>Hole</td>
                            @for (int i = 1; i <= 9; i++)
                            {
                                string holeNumber = i.ToString();
                                <td>@holeNumber</td>
                            }
                        </tr>
                        <tr>
                            <td>Par</td>
                            @for (int i = 0; i < 9; i++)
                            {
                                <td>@Model.Pars[i]</td>
                            }
                        </tr>
                        <tr>
                            <td>Yards</td>
                            @for (int i = 0; i < 9; i++)
                            {
                                <td>@Model.Yardages[i]</td>
                            }
                        </tr>
                        <tr id="red-tees" class="collapse in">
                            <td>Red Tees</td>
                            @for (int i = 0; i < 9; i++)
                            {
                                <td>X</td>
                            }
                        </tr>
                        <tr id="handicaps" class="collapse in">
                            <td>Handicaps</td>
                            @for (int i = 0; i < 9; i++)
                            {
                                <td>X</td>
                            }
                        </tr>
                        <tr>
                            <td>Scores</td>
                            @for (int i = 0; i < 9; i++)
                            {
                                <td>@Model.FrontNineScores[i]</td>
                            }
                        </tr>

                    </tbody>
                </table>
            </div>
        }

        @if (Model.BackNineScores.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td>Hole</td>
                            @for (int i = 10; i <= 18; i++)
                            {
                                string holeNumber = i.ToString();
                                <td>@holeNumber</td>
                            }
                        </tr>
                        <tr>
                            <td>Par</td>
                            @if (Model.FrontNineScores.Count() == 0)
                            {
                                for (int i = 0; i < 9; i++)
                                {
                                    <td>@Model.Pars[i]</td>
                                }
                            }
                            else
                            {
                                for (int i = 9; i < 18; i++)
                                {
                                    <td>@Model.Pars[i]</td>
                                }
                            }
                        </tr>

                        <tr>
                            <td>Yards</td>
                            @if (Model.FrontNineScores.Count() == 0)
                            {
                                for (int i = 0; i < 9; i++)
                                {
                                    <td>@Model.Yardages[i]</td>
                                }
                            }
                            else
                            {
                                for (int i = 9; i < 18; i++)
                                {
                                    <td>@Model.Yardages[i]</td>
                                }
                            }
                        </tr>

                        <tr>
                            <td>Scores</td>
                            @for (int i = 0; i < 9; i++)
                            {
                                <td>@Model.BackNineScores[i]</td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    <a asp-action="EditRound" asp-controller="RoundOfGolf" 
       asp-route-id="@Model.Id" class="btn panel-footer">Edit Round</a>
    </div>
    <div class="well">@Model.Comment</div>
</div>