@model CourseViewModel

<h1>@Model.CourseName</h1>

<form method="post" asp-antiforgery="true"
      asp-action="SaveCourseChanges" asp-controller="RoundOfGolf">
    @Html.HiddenFor(m => m.CourseName)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.NumberOfTeeBoxes)
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <td>Hole</td>
                    @for (int i = 0; i < 9; i++)
                    {
                        string holeNumber = (i + 1).ToString();
                        <td>@holeNumber</td>
                    }
                </tr>
                <tr>
                    <td>Par</td>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td class="number-input">@Html.EditorFor(m => m.Pars[i])</td>
                    }
                </tr>
                @for (int i = 0; i < int.Parse(Model.NumberOfTeeBoxes); i++)
                {
                    <tr class="tee-box-input">
                        <td>@Html.EditorFor(m => m.TeeBoxes[i].Name)</td>
                        @for (int x = 0; x < 9; x++)
                        {
                            <td class="number-input">@Html.EditorFor(m => m.TeeBoxes[i].Tees[x].Yardage)</td>
                        }
                    </tr>                    
                }

                <tr>
                    <td>Enter Handicap</td>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td class="number-input">@Html.EditorFor(m => m.Handicaps[i])</td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
    @if (Model.NumberOfHoles == 18)
    {
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td>Hole</td>
                        @for (int i = 9; i < 18; i++)
                        {
                            string holeNumber = (i + 1).ToString();
                            <td>@holeNumber</td>
                        }
                    </tr>
                    <tr>
                        <td>Par</td>
                        @for (int i = 9; i < 18; i++)
                        {
                            <td class="number-input">@Html.EditorFor(m => m.Pars[i])</td>
                        }
                    </tr>

                    @for (int i = 0; i < int.Parse(Model.NumberOfTeeBoxes); i++)
                    {
                        <tr class="tee-box-input">
                            <td>@Html.EditorFor(m => m.TeeBoxes[i].Name)</td>
                            @for (int x = 9; x < 18; x++)
                            {
                                <td class="number-input">@Html.EditorFor(m => m.TeeBoxes[i].Tees[x].Yardage)</td>
                            }
                        </tr>
                    }

                    <tr>
                        <td>Enter Handicap</td>
                        @for (int i = 9; i < 18; i++)
                        {
                            <td class="number-input">@Html.EditorFor(m => m.Handicaps[i])</td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    }
    <div>
        <input class="btn btn-primary" type="submit" value="Save Course Changes" />
    </div>
</form>
<a class="btn btn-primary" asp-controller="RoundOfGolf" asp-action="DeleteCourse" asp-route-id="@Model.Id">Delete Course</a>