@model CourseViewModel

<h1>@Model.CourseName</h1>

<form method="post" asp-antiforgery="true"
      asp-action="SaveCourseChanges" asp-controller="RoundOfGolf">
    @Html.HiddenFor(m => m.CourseName)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.NumberOfTeeBoxes)
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <td>Hole</td>
                    @for (int i = 0; i < 9; i++)
                    {
                        string holeNumber = (i + 1).ToString();
                        <td>@holeNumber</td>
                    }
                </tr>
                <tr>
                    <td>Par</td>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td class="number-input">@Html.EditorFor(m => m.Pars[i])</td>
                    }
                </tr>
                @for (int i = 0; i < int.Parse(Model.NumberOfTeeBoxes); i++)
                {
                    <tr class="teebox-row" data-teebox-id="@Model.TeeBoxes[i].Id"
                        data-teebox-name="@Model.TeeBoxes[i].Name">
                        <td>
                            @Html.EditorFor(m => m.TeeBoxes[i].Name)
                            <i class="fa fa-trash delete-teebox" data-toggle="tooltip"
                               title="Delete @Model.TeeBoxes[i].Name Teebox"></i>
                            <span class="undo-delete hidden">Undo Delete <i class="fa fa-undo"></i></span>
                        </td>
                        @for (int x = 0; x < 9; x++)
                        {
                            <td class="number-input">@Html.EditorFor(m => m.TeeBoxes[i].Tees[x].Yardage)</td>
                        }
                    </tr>                    
                }

                <tr>
                    <td>Enter Handicap</td>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td class="number-input">@Html.EditorFor(m => m.Handicaps[i])</td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
    @if (Model.NumberOfHoles == 18)
    {
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td>Hole</td>
                        @for (int i = 9; i < 18; i++)
                        {
                            string holeNumber = (i + 1).ToString();
                            <td>@holeNumber</td>
                        }
                    </tr>
                    <tr>
                        <td>Par</td>
                        @for (int i = 9; i < 18; i++)
                        {
                            <td class="number-input">@Html.EditorFor(m => m.Pars[i])</td>
                        }
                    </tr>

                    @for (int i = 0; i < int.Parse(Model.NumberOfTeeBoxes); i++)
                    {
                        <tr class="teebox-row" data-teebox-id="@Model.TeeBoxes[i].Id">
                            <td><p>@Model.TeeBoxes[i].Name</p></td>
                            @for (int x = 9; x < 18; x++)
                            {
                                <td class="number-input">@Html.EditorFor(m => m.TeeBoxes[i].Tees[x].Yardage)</td>
                            }
                        </tr>
                    }

                    <tr>
                        <td>Enter Handicap</td>
                        @for (int i = 9; i < 18; i++)
                        {
                            <td class="number-input">@Html.EditorFor(m => m.Handicaps[i])</td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    }
    <div>
        <input class="btn btn-primary" type="submit" value="Save Course Changes" />
    </div>
</form>
<a class="btn btn-primary" asp-controller="RoundOfGolf" asp-action="DeleteCourse" asp-route-id="@Model.Id">Delete Course</a>

<div class="modal fade" id="delete-teebox-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="warning">You Cannot Delete The <span class="teebox-name"></span> Tees</p>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <h1>You played the <span class="teebox-name"></span> tees on the following days:</h1>
                <div id="dates-teebox-played"></div>
                <h2>You must edit those rounds before you can delete the <span class="teebox-name"></span> tees.</h2>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/_DisplayCourseToEdit.js" type="text/javascript"></script>