@model CourseViewModel

<h1>@Model.CourseName</h1>

@if (Model.NumberOfHoles == 9)
{
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <td>Hole</td>
                    @for (int i = 0; i < Model.NumberOfHoles; i++)
                    {
                        string holeNumber = (i + 1).ToString();
                        <td>@holeNumber</td>
                    }
                </tr>
                <tr>
                    <td>Par</td>
                    @foreach (var par in Model.Pars)
                    {
                        <td>@par</td>
                    }
                </tr>
                <tr>
                    <td>Yards</td>
                    @foreach (var yardage in Model.Yardages)
                    {
                        <td>@yardage</td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
}
else
{
    <form method="post">
        <div id="front-nine">
            @Html.Partial("_FrontNineEnterScore", Model)
        </div>
        <div id="back-nine">
            @Html.Partial("_BackNineEnterScore", Model)
        </div>
    </form>

    <div id="checkbox-container">
        <label><input type="checkbox" id="front-nine-checkbox" value="true" checked>Played the front nine.</label><br>
        <input type="checkbox" id="back-nine-checkbox" value="true" checked> <label for="back-nine-checkbox">Played the back nine.</label>
    </div>
}