@model RoundOfGolfViewModel

<h1>@Model.CourseName</h1>

@if (Model.NumberOfHoles == 9)
{
    <form method="post" asp-antiforgery="true"
          asp-action="EnterScore" asp-controller="RoundOfGolf"
          asp-route-courseName="@Model.CourseName">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td>Hole</td>
                        @for (int i = 0; i < Model.NumberOfHoles; i++)
                        {
                            string holeNumber = (i + 1).ToString();
                            <td>@holeNumber</td>
                        }
                    </tr>
                    <tr>
                        <td>Par</td>
                        @foreach (var par in Model.Pars)
                        {
                            <td>@par</td>
                        }
                    </tr>
                    <tr>
                        <td>Yards</td>
                        @foreach (var yardage in Model.Yardages)
                        {
                            <td>@yardage</td>
                        }
                    </tr>
                    <tr>
                        <td>Enter Scores</td>
                        @for (int i = 0; i < 9; i++)
                        {
                            <td>
                                <input asp-for="Scores[i]" />
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <input type="submit" value="Save Round" />
        </div>
    </form>
}
else
{
    <form method="post">
        <div id="front-nine">
            @Html.Partial("_FrontNineEnterScore", Model)
        </div>
        <div id="back-nine">
            @Html.Partial("_BackNineEnterScore", Model)
        </div>
    </form>

    <div id="checkbox-container">
        <input type="checkbox" id="front-nine-checkbox" value="true"
               data-nine="front" data-action="@Url.Action("DisplayFrontNineEnterScore", Model)" 
               data-target="#front-nine" checked />
        <label>Played the front nine.</label><br>
        <input type="checkbox" id="back-nine-checkbox" value="true"
               data-nine="back" data-action="@Url.Action("DisplayBackNineEnterScore", Model)"
               data-target="#back-nine" checked />
        <label for="back-nine-checkbox">Played the back nine.</label>
    </div>
}
