@model RoundOfGolfViewModel

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td>Hole</td>
                @for (int i = 0; i < 9; i++)
                {
                    string holeNumber = (i + 1).ToString();
                    <td>@holeNumber</td>
                }
            </tr>
            <tr>
                <td>Par</td>
                @for (int i = 0; i < 9; i++)
                {
                    <td>@Model.Pars[i]</td>
                }
            </tr>
            <tr>
                <td>Handicap</td>
                @for (int i = 0; i < 9; i++)
                {
                    <td>@Model.Handicaps[i]</td>
                }
            </tr>

            @for (int i = 0; i < Model.TeeBoxes.Count; i++)
            {
                if (i == 0)
                {
                    <tr class="teebox-played" data-teebox-id="@Model.TeeBoxes[i].Id">
                        <td class="teebox-played">@Model.TeeBoxes[i].Name</td>
                        @for (int x = 0; x < 9; x++)
                        {
                            <td class="teebox-played">@Model.TeeBoxes[i].Tees[x].Yardage</td>
                        }
                    </tr>
                }
                else
                {
                    <tr data-teebox-id="@Model.TeeBoxes[i].Id">
                        <td>@Model.TeeBoxes[i].Name</td>
                        @for (int x = 0; x < 9; x++)
                        {
                            <td>@Model.TeeBoxes[i].Tees[x].Yardage</td>
                        }
                    </tr>

                }
            }
            <tr>
                <td>Enter Scores</td>
                @for (int i = 0; i < 9; i++)
                {
                    int holeNumber = i + 1;
                    <td>
                        <input class="number-input score" data-hole-number="@holeNumber" asp-for="FrontNineScores[i]" />
                        @Html.ValidationMessageFor(m => m.FrontNineScores[i], null, new { style = "display: none" })
                    </td>
                }
            </tr>
        </tbody>


    </table>
</div>