@model RoundOfGolfViewModel

<h1>@Model.CourseName</h1>

<form method="post" asp-antiforgery="true"
      asp-action="SaveRoundChanges" asp-controller="RoundOfGolf">
    @Html.HiddenFor(m => m.Id)
    @Html.EditorFor(m => m.DateOfRound)
    @if (Model.FrontNineScores.Count() > 0)
    {
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td>Hole</td>
                        @for (int i = 1; i <= 9; i++)
                        {
                            string holeNumber = i.ToString();
                            <td>@holeNumber</td>
                        }
                    </tr>
                    <tr>
                        <td>Par</td>
                        @for (int i = 0; i < 9; i++)
                        {
                            <td>@Model.Pars[i]</td>
                        }
                    </tr>
                    @foreach (var teeBox in Model.TeeBoxes)
                    {
                        if (teeBox.Id != Model.IdOfTeeBoxPlayed)
                        {
                            <tr class="hidden">
                                <td>@teeBox.Name</td>
                                @for (int i = 0; i < 9; i++)
                                {
                                    <td>@teeBox.Tees[i].Yardage</td>
                                }
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@teeBox.Name</td>
                                @for (int i = 0; i < 9; i++)
                                {
                                    <td>@teeBox.Tees[i].Yardage</td>
                                }
                            </tr>
                        }
                    }
                    <tr>
                        <td>Scores</td>
                        @for (int i = 0; i < 9; i++)
                        {
                            <td>@Html.EditorFor(m => m.FrontNineScores[i])</td>
                        }
                    </tr>

                </tbody>
            </table>
        </div>
    }

    @if (Model.BackNineScores.Count() > 0)
    {
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td>Hole</td>
                        @for (int i = 10; i <= 18; i++)
                        {
                            string holeNumber = i.ToString();
                            <td>@holeNumber</td>
                        }
                    </tr>
                    <tr>
                        <td>Par</td>
                        @if (Model.FrontNineScores.Count() == 0)
                        {
                            for (int i = 0; i < 9; i++)
                            {
                                <td>@Model.Pars[i]</td>
                            }
                        }
                        else
                        {
                            for (int i = 9; i < 18; i++)
                            {
                                <td>@Model.Pars[i]</td>
                            }
                        }
                    </tr>

                    @foreach (var teeBox in Model.TeeBoxes)
                    {
                        if (teeBox.Id != Model.IdOfTeeBoxPlayed)
                        {
                            <tr class="hidden">
                                <td>@teeBox.Name</td>
                                @for (int i = 9; i < 18; i++)
                                {
                                    <td>@teeBox.Tees[i].Yardage</td>
                                }
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@teeBox.Name</td>
                                @for (int i = 9; i < 18; i++)
                                {
                                    <td>@teeBox.Tees[i].Yardage</td>
                                }
                            </tr>
                        }
                    }

                    <tr>
                        <td>Scores</td>
                        @for (int i = 0; i < 9; i++)
                        {
                            <td>@Html.EditorFor(m => m.BackNineScores[i])</td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    }
    @Html.EditorFor(m => m.Comment, new { htmlAttributes = new { @class = "well" } })
    <div>
        <input class="btn btn-primary" type="submit" value="Save Round Changes" />
    </div>
</form>

<a href="#delete-dialog" class="btn btn-warning"
   data-toggle="modal">Delete Round</a>

<div class="modal fade" id="delete-dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="warning">Delete</p>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this round?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-warning" asp-action="DeleteRound"
                   asp-controller="RoundOfGolf"
                   asp-route-id="@Model.Id">
                    Delete Round
                </a>
                <button class="btn btn-success" data-dismiss="modal">Don't Delete</button>
            </div>
        </div>
    </div>
</div>