@model CourseViewModel

<div class="alert alert-warning collapse">   @*this needs js to .show();*@
    <a href="#" data-dismiss="alert" class="close">&times;</a>
    <h1>@ViewBag.Message</h1>
</div>

<form novalidate class="writable-scorecard scorecard-form" method="post" asp-antiforgery="true" asp-controller="RoundOfGolf" asp-action="EnterCourse">
    <div class="field">
        <label class="field-label" asp-for="CourseName">Course Name</label>
        <input class="field-input course-name" asp-for="CourseName" placeholder="Course Name"/>
        @Html.ValidationMessageFor(m => m.CourseName, null, new { style = "display: none" })
    </div>
    
    <label asp-for="NumberOfHoles">Number of Holes</label>
    <div class="btn-group btn-group-sm">
        <label class="btn btn-success">
            <input id="input-nine" data-target="#back-nine" checked="checked" asp-for="NumberOfHoles" type="radio" value="9" />
            <span>9</span>
        </label>
        <label class="btn btn-success">
            <input id="input-eighteen" data-target="#back-nine" data-action="@Url.Action("DisplayBackNine", "RoundOfGolf")"
                   asp-for="NumberOfHoles" type="radio" value="18" />
            <span>18</span>
        </label>
    </div>

    <label asp-for="NumberOfTeeBoxes">Number of Tee Boxes</label>
    <select asp-for="NumberOfTeeBoxes" id="tee-box-number-selector">
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3" selected="selected">Three</option>
        <option value="4">Four</option>
        <option value="5">Five</option>
        <option value="6">Six</option>
    </select>

    <div class="table-responsive">
        <table class="table table-bordered table-striped scorecard">
            <tbody>
                <tr>
                    @for (int i = 0; i <= 9; i++)
                    {
                        if (i == 0)
                        {
                            <th></th>
                        }
                        else
                        {
                            <th>@i</th>
                        }
                    }
                </tr>

                <tr>
                    <td>Enter Par</td>
                    @for (int i = 0; i < 9; i++)
                    {
                        int holeNumber = i + 1;
                        <td>
                            <input class="number-input par" data-hole-number="@holeNumber" asp-for="Pars[i]" />
                            @Html.ValidationMessageFor(m => m.Pars[i], null, new { style = "display: none" })
                        </td>
                    }
                </tr>

                <tr>
                    <td>Enter Handicap</td>
                    @for (int i = 0; i < 9; i++)
                    {
                        int holeNumber = i + 1;
                        <td>
                            <input class="number-input handicap" data-hole-number="@holeNumber" asp-for="Handicaps[i]" />
                            @Html.ValidationMessageFor(m => m.Handicaps[i], null, new { style = "display: none" })
                        </td>
                    }
                </tr>

                @for (int i = 0; i < 6; i++)
                {
                    if (i >= 3)
                    {
                        <tr class="tee-box-input hidden">
                            <td>
                                <input class="teebox-name" asp-for="TeeBoxes[i].Name" />
                                @Html.ValidationMessageFor(m => m.TeeBoxes[i].Name, null, new { style = "display: none" })
                            </td>
                            @for (int x = 0; x < 9; x++)
                            {
                                int holeNumber = x + 1;
                                <td class="number-input">
                                    <input class="number-input teebox" data-hole-number="@holeNumber" asp-for="TeeBoxes[i].Tees[x].Yardage" />
                                    @Html.ValidationMessageFor(m => m.TeeBoxes[i].Tees[x].Yardage, null, new { style = "display: none" })
                                </td>
                            }
                        </tr>
                    }
                    else
                    {
                        <tr class="tee-box-input">
                            <td>
                                <input class="teebox-name" asp-for="TeeBoxes[i].Name" />
                                @Html.ValidationMessageFor(m => m.TeeBoxes[i].Name, null, new { style = "display: none" })
                            </td>
                            @for (int x = 0; x < 9; x++)
                            {
                                int holeNumber = x + 1;
                                <td class="number-input">
                                    <input class="number-input teebox" data-hole-number="@holeNumber" asp-for="TeeBoxes[i].Tees[x].Yardage" />
                                    @Html.ValidationMessageFor(m => m.TeeBoxes[i].Tees[x].Yardage, null, new { style = "display: none" })
                                </td>
                            }
                        </tr>
                    }
                }

            </tbody>

        </table>
    </div>

    <div id="back-nine"></div>

    <div class="btn-group">
        <button class="btn btn-success custom-submit" type="button">Save</button>
        <a class="btn btn-default" href="javascript:void(0);" onclick="history.go(-1);">Cancel</a>
    </div>
</form>

<div class="error-container"></div>

<script type="text/javascript" src="~/js/EnterCourse.js"></script>
<script type="text/javascript" src="~/js/FloatingLabels.js"></script>