@model CourseViewModel

<h1>@ViewBag.Message</h1>

<form method="post" asp-antiforgery="true" asp-controller="RoundOfGolf" asp-action="EnterCourse">
    <label asp-for="CourseName"></label>
    <input asp-for="CourseName" />

    <label asp-for="NumberOfHoles"></label>
    <div class="btn-group btn-group-sm">
        <label class="btn btn-success">
            <input id="input-nine" data-target="#back-nine" checked="checked" asp-for="NumberOfHoles" type="radio" value="9" />
            <span>9</span>
        </label>
        <label class="btn btn-success">
            <input id="input-eighteen" data-target="#back-nine" data-action="@Url.Action("DisplayBackNine", "RoundOfGolf")"
                   asp-for="NumberOfHoles" type="radio" value="18" />
            <span>18</span>
        </label>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    @for (int i = 0; i <= 9; i++)
                    {
                        if (i == 0)
                        {
                            <th></th>
                        }
                        else
                        {
                            <th>@i</th>
                        }
                    }
                </tr>

                <tr>
                    <td>Enter Par</td>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td class="number-input">@Html.EditorFor(m => m.Pars[i])</td>
                    }
                </tr>
                <tr>
                    <td>Enter Yardage</td>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td class="number-input">@Html.EditorFor(m => m.Yardages[i])</td>
                    }
                </tr>
            </tbody>
        </table>
    </div>

    <div id="back-nine"></div>

    <div>
        <input type="submit" value="Enter Score" />
    </div>
</form>