@model ViewRoundsViewModel

@if (Model == null)
{
    <h1>@ViewBag.Message</h1>
}
else
{
    @section leftSidebar {
        <div class="dropdown open">
            <ul class="dropdown-menu list-group">

                @foreach (var round in Model.ViewRounds)
                {
                    <li class="list-group-item">
                        <a data-ajax="true" data-target="#display-round"
                           data-action="@Url.Action("DisplayRound", "RoundOfGolf",
                     new { id = round.RoundId })">
                            @round.CourseName
                            <span class="badge">@round.RoundDate.Date.ToString("MMMM d, yyyy")</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    }
    

    <div id="display-round"></div>

    <script>
        var selectedRound = @Model.SelectedRound;
    </script>
    <script src="~/js/ViewRounds.js" type="text/javascript"></script>
}

<script src="~/js/_DisplayRound.js" type="text/javascript"></script>