@model ViewRoundsViewModel

@if (Model == null)
{
    <h1>@ViewBag.Message</h1>
}
else
{
    @section leftSidebar {
        <h3>Choose A Round</h3>
        <div class="dropdown open">
            <ul class="dropdown-menu list-group">

                @foreach (var round in Model.ViewRounds)
                {
                    <li class="list-group-item">
                        <a data-ajax="true" data-target="#display-round"
                           data-action="@Url.Action("DisplayRound", "RoundOfGolf",
                     new { id = round.RoundId })">
                            @round.CourseName
                            <span class="badge">@round.RoundDate.Date.ToString("MMMM d, yyyy")</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    }

    @section rightSidebar {
        <h3></h3>
        <div class="stat-chart-container-container">
            <div id="nine-hole-score-by-course-barchart-container" class="stat-chart-container"></div>
            <div id="eighteen-hole-score-by-course-barchart-container" class="stat-chart-container"></div>
            <div id="nine-hole-putts-by-course-linegraph-container" class="stat-chart-container"></div>
            <div id="eighteen-hole-putts-by-course-linegraph-container" class="stat-chart-container"></div>
            <div id="score-to-par-piechart-container" class="stat-chart-container"></div>
        </div>
    }

    <div id="display-round"></div>

    <script>
        var selectedRound = @Model.SelectedRound;
    </script>
    <script src="~/js/ViewRounds.js" type="text/javascript"></script>
}

<script src="~/js/_DisplayRound.js" type="text/javascript"></script>